<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>淘汽商贸后台管理系统</title>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/bootstrap-theme.css" />
		<link rel="stylesheet" href="css/bootstrap-theme.min.css" />
		<link rel="stylesheet" href="css/allproduct.css" />
		<link rel="stylesheet" type="text/css" href="css/dingdan.css" />
	</head>

	<body>
		<!--
        	作者：492680716@qq.com
        	时间：2017-09-25
        	描述：头部
       -->
		<div class="body">
			<div class="head">
				<div class="header">
					<div class="col_1"><strong>淘汽商贸</strong>后台管理系统</div>
					<div class="col_2">
						<span>你好，管理员！</span>
						<a href="index.html">退出</a>
					</div>
				</div>
			</div>
			<!--
        	作者：492680716@qq.com
        	时间：2017-09-25
        	描述：左侧栏
     -->
			<ul class="list-unstyled managelist">
				<li class="managelist_li">
					<div class="motion" @click="allproduct">
						<span style="background-position:2px -53px;"></span>
						<span>商品管理</span>
						<span class="arr"></span>
					</div>
					<ul class="hide">
						<li>
							<a class="allproduct">全部商品</a><br />
							<a>添加商品</a><br />
						</li>
					</ul>
				</li>
				<li class="managelist_li">
					<div class="motion">
						<span style="background-position:2px -53px;"></span>
						<span>订单管理</span>
						<span class="arr"></span>
					</div>
					<ul>
						<li></li>
					</ul>
				</li>
			</ul>
			<div class="col_10_right">
				<div class="retrieval">
					<h2>检索</h2>
					<div class="form-inline">
						<div class="form-group form_select">
							<p class="heat">
								<span>订单搜索</span>
								<input type="text" placeholder="输入订单号" v-model="order" />
							</p>
							<p class="groom">
								<span>开始日期</span>
								<datepicker v-model="start"></datepicker>
								<!--<input type="text" v-model="start" />-->
							</p>
							<p class="frame">
								<span>结束日期</span>
								<datepicker v-model="end"></datepicker>
								<!--<input type="text" v-model="end" />-->
							</p>
							<span class="shopping">客户搜索：</span>
							<input type="text" class="productname form-control" id="exampleInputAmount" placeholder="输入客户昵称" v-model="username" />
							<button class="btn btn-success btn-search" @click="search">搜索</button>
						</div>
					</div>
				</div>
				<!--头部下面最大div右侧栏里面的检索层-->
				<div class="retrieval_1">
					<div class="content">
						<ul>
							<li class="opi">
								<b>产品信息填写</b>
							</li>
							<li class="title">
								<span>标题</span>
								<input type="text" placeholder="如：广汽丰田凯美瑞前大灯" />
							</li>
							<li class="oldprice">
								<span>原始价格</span>
								<input type="text" placeholder="如：35.00" />
							</li>
							<li class="newprice">
								<span>折扣价</span>
								<input type="text" placeholder="如：30.00" />
							</li>
							<li class="Carriage">
								<span>配送方式</span>
								<input type="text" placeholder="如：包邮" />
							</li>
							<li class="Destination">
								<span>发货地址</span>
								<input type="text" placeholder="如：湖南长沙" />
							</li>
							<li class="category">
								<span>商品类别</span>
								<select>
									<option value="0"></option>
									<option value="1">类别1</option>
									<option value="2">类别2</option>
									<option value="3">类别3</option>
									<option value="4">类别4</option>
									<option value="5">类别5</option>
									<option value="6">类别6</option>
								</select>
							</li>
							<li class="isHot">
								<span>是否热卖</span>
								<select>
									<option></option>
									<option value="1">是</option>
									<option value="0">否</option>
								</select>
							</li>
							<li class="isRecommend">
								<span>是否推荐</span>
								<select>
									<option></option>
									<option value="1">是</option>
									<option value="0">否</option>
								</select>
							</li>
							<li class="picture">
								<p>图片</p>
								<img src="img/picture.png" class="image" />
								<input type="file" class="print" />
							</li>
							<li class="elaborate">
								<span>详细描述</span>
								<textarea></textarea>
							</li>
							<li class="submit">
								<a>提交</a>
							</li>
							<li class="rejigger">
								<a>提交</a>
							</li>
						</ul>
					</div>

					<div>
						<div class="toubu">
							<ul>
								<li>宝贝</li>
								<li>单价</li>
								<li>数量</li>
								<li>售后</li>
								<li>买家</li>
								<li>交易状态</li>
								<li>实收款</li>
								<li>评价</li>
							</ul>
						</div>
						<div class="contents" v-for="result in formatResults">
							<div class="top">
								<input type="checkbox" name="" id="" value="" />
								<span>订单号：{{result.id}}</span>
								<i>成交时间：{{ new Date(result.updatedAt).toLocaleString()}}</i>
							</div>
							<ul>
								<li>
									<product :goods="result.products" :product-num='JSON.parse(result.productNum)'>
									</product>
								</li>
								<li>
									<a>{{result.username}}</a>
								</li>
								<li>
									<i></i>
								</li>
								<li>
									<b>${{new Number(result.totalCost).toFixed(2)}}</b>
									<i></i>
									<a></a>
								</li>
								<li></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="js/axios.js"></script>
		<script src="js/vue.js"></script>
		<!--<script src="js/dingdan.js"></script>-->
		<script src="dist/bundle.js"></script>
	</body>

</html>